# SYSTEM
.Rhistory
.Rproj.user
repo.Rproj
.RData

**/.ipynb_checkpoints
**/.DS_Store
**/Icon
**/__pycache__
**/.egg-info
**/mimno-Mallet-*

**/_HIDE
**/hidden
**/tmp
**/Untitled*.ipynb
**/lessons/data
**/data_in
**/data_out
**/*.db
**/mallet
**/*.mallet
**/M08a*/output

# CONTENT
**/cookiecutter.png 

lessons/*
!lessons/lib
!lessons/M01*
!lessons/M02*
!lessons/M03*
!lessons/M04*
!lessons/M05*
!lessons/M06*
!lessons/M07*
!lessons/M08*
!lessons/M09*
!lessons/M10*
!lessons/M11*
!lessons/M12*
!lessons/M92*