# SYSTEM
.Rhistory
.Rproj.user
repo.Rproj
.RData

**/.ipynb_checkpoints
**/.DS_Store
**/Icon
**/__pycache__
**/.egg-info

**/_HIDE
**/hidden
**/tmp
**/Untitled*.ipynb


# CONTENT
**/cookiecutter.png 

lessons/*
!lessons/data
!lessons/lib
!lessons/M01*
!lessons/M02*
!lessons/M03*
!lessons/M04*
!lessons/M05*